body {
	position: relative;
	overflow-x: hidden;
}

#container {
	padding: 30px;
	width: 1215px;
	margin: 0 auto;
	position: relative;
}

h1 {
	background: #333;
	text-align: center;
	color: #fff;
	font-size: 36px;
	padding: 35px 0;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'Arvo', sans-serif;
}

#explanation {
	position: absolute;
	top: 10px;
	left: 20px;
	color: #fff;
	font-size: 18px;
	text-decoration: underline;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
}

#explanation:hover {
	color: #ccc;
}

#whats-all-this {
	color: #333;
	position: absolute;
	right: -150%;
	margin-right: -500px;
	display: none;
	width: 1000px;
	font-size: 22px;
	line-height: 38px;
	font-family: 'Roboto', sans-serif;
}

#back-to-list {
	font-family: 'Roboto', sans-serif;
	position: fixed;
	left: 20px;
	top: 145px;
	text-align: center;
	font-size: 13px;
	cursor: pointer;
	display: none;
}

#back-to-list span.arrow {
	font-size: 22px;
	line-height: 30px;
	font-weight: bold;
	display: block;
}

#back-to-list:hover {
	color: #ccc;
}

#whats-all-this p {
	margin-top: 38px;
}

#whats-all-this a {
	color: #333;
}

#whats-all-this ul {
	margin-top: 38px;
}

#whats-all-this ul li {
	margin-bottom: 19px;
	border-bottom: 1px solid #333;
	padding-bottom: 19px;
}

#whats-all-this ul li:last-of-type {
	border: 0;
}

#whats-all-this strong {
	font-weight: bold;
	color: #ff0000;
}

#whats-all-this em {
	color: #666;
	font-style: italic;
	display: block;
	text-align: center;
	margin: 38px 0;
}

#headers > div {
	display: inline-block;
	padding: 10px;
	vertical-align: middle;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
}

#headers span {
	display: none;
}

#headers .active {
	color: #ff0000;
}


#headers .active.asc span.triangle {
	display: inline;
}

#headers .active.desc span.down-triangle {
	display: inline;
}

#headers > div:hover {
	opacity: .75;
}

#items .item {
	clear: both;
}

#items .item > div {
	float: left;
	font-family: 'Roboto', sans-serif;
	list-style-type: none;
	display: block;
	margin: 10px 0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #ff0000;
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
	padding: 10px;
	margin-right: 5px;
}

div.name {
	width: 300px;
}

div.number {
	width: 150px;
	text-align: center;
}

/* isotope animation stuff */

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}